/* Color variables */

$turquoise: #1abc9c;
$emerald: #2ecc71;
$green-sea: #16a085;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomergranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

/* Bootsrap-like aliases */

$primary: $belize-hole;
$success: $nephritis;
$warning: $pumpkin;
$danger: $pomergranate;
$info: $peter-river;

/* Text classes */

.text-turquoise {
  color: $turquoise;
}

.text-emerald {
  color: $emerald;
}

.text-green-sea {
  color: $green-sea;
}

.text-nephritis {
  color: $nephritis;
}

.text-peter-river {
  color: $peter-river;
}

.text-belize-hole {
  color: $belize-hole;
}

.text-amethyst {
  color: $amethyst;
}

.text-wisteria {
  color: $wisteria;
}

.text-wet-asphalt {
  color: $wet-asphalt;
}

.text-midnight-blue {
  color: $midnight-blue;
}

.text-sun-flower {
  color: $sun-flower;
}

.text-orange {
  color: $orange;
}

.text-carrot {
  color: $carrot;
}

.text-pumpkin {
  color: $pumpkin;
}

.text-alizarin {
  color: $alizarin;
}

.text-pomergranate {
  color: $pomergranate;
}

.text-clouds {
  color: $clouds;
}

.text-silver {
  color: $silver;
}

.text-concrete {
  color: $concrete;
}

.text-asbestos {
  color: $asbestos;
}

.text-primary {
  color: $primary;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}

.text-info {
  color: $info;
}

/* Background classes */

.bg-turquoise {
  background-color: $turquoise;
}

.bg-emerald {
  background-color: $emerald;
}

.bg-green-sea {
  background-color: $green-sea;
}

.bg-nephritis {
  background-color: $nephritis;
}

.bg-peter-river {
  background-color: $peter-river;
}

.bg-belize-hole {
  background-color: $belize-hole;
}

.bg-amethyst {
  background-color: $amethyst;
}

.bg-wisteria {
  background-color: $wisteria;
}

.bg-wet-asphalt {
  background-color: $wet-asphalt;
}

.bg-midnight-blue {
  background-color: $midnight-blue;
}

.bg-sun-flower {
  background-color: $sun-flower;
}

.bg-orange {
  background-color: $orange;
}

.bg-carrot {
  background-color: $carrot;
}

.bg-pumpkin {
  background-color: $pumpkin;
}

.bg-alizarin {
  background-color: $alizarin;
}

.bg-pomergranate {
  background-color: $pomergranate;
}

.bg-clouds {
  background-color: $clouds;
}

.bg-silver {
  background-color: $silver;
}

.bg-concrete {
  background-color: $concrete;
}

.bg-asbestos {
  background-color: $asbestos;
}

.bg-primary {
  background-color: $primary;
}

.bg-success {
  background-color: $success;
}

.bg-warning {
  background-color: $warning;
}

.bg-danger {
  background-color: $danger;
}

.bg-info {
  background-color: $info;
}