/* Text classes */
.text-turquoise {
  color: #1abc9c;
}

.text-emerald {
  color: #2ecc71;
}

.text-green-sea {
  color: #16a085;
}

.text-nephritis {
  color: #27ae60;
}

.text-peter-river {
  color: #3498db;
}

.text-belize-hole {
  color: #2980b9;
}

.text-amethyst {
  color: #9b59b6;
}

.text-wisteria {
  color: #8e44ad;
}

.text-wet-asphalt {
  color: #34495e;
}

.text-midnight-blue {
  color: #2c3e50;
}

.text-sun-flower {
  color: #f1c40f;
}

.text-orange {
  color: #f39c12;
}

.text-carrot {
  color: #e67e22;
}

.text-pumpkin {
  color: #d35400;
}

.text-alizarin {
  color: #e74c3c;
}

.text-pomergranate {
  color: #c0392b;
}

.text-clouds {
  color: #ecf0f1;
}

.text-silver {
  color: #bdc3c7;
}

.text-concrete {
  color: #95a5a6;
}

.text-asbestos {
  color: #7f8c8d;
}

.text-primary {
  color: #2980b9;
}

.text-success {
  color: #27ae60;
}

.text-warning {
  color: #d35400;
}

.text-danger {
  color: #c0392b;
}

.text-info {
  color: #3498db;
}

/* Background classes */
.bg-turquoise {
  background-color: #1abc9c;
}

.bg-emerald {
  background-color: #2ecc71;
}

.bg-green-sea {
  background-color: #16a085;
}

.bg-nephritis {
  background-color: #27ae60;
}

.bg-peter-river {
  background-color: #3498db;
}

.bg-belize-hole {
  background-color: #2980b9;
}

.bg-amethyst {
  background-color: #9b59b6;
}

.bg-wisteria {
  background-color: #8e44ad;
}

.bg-wet-asphalt {
  background-color: #34495e;
}

.bg-midnight-blue {
  background-color: #2c3e50;
}

.bg-sun-flower {
  background-color: #f1c40f;
}

.bg-orange {
  background-color: #f39c12;
}

.bg-carrot {
  background-color: #e67e22;
}

.bg-pumpkin {
  background-color: #d35400;
}

.bg-alizarin {
  background-color: #e74c3c;
}

.bg-pomergranate {
  background-color: #c0392b;
}

.bg-clouds {
  background-color: #ecf0f1;
}

.bg-silver {
  background-color: #bdc3c7;
}

.bg-concrete {
  background-color: #95a5a6;
}

.bg-asbestos {
  background-color: #7f8c8d;
}

.bg-primary {
  background-color: #2980b9;
}

.bg-success {
  background-color: #27ae60;
}

.bg-warning {
  background-color: #d35400;
}

.bg-danger {
  background-color: #c0392b;
}

.bg-info {
  background-color: #3498db;
}
